body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  nav {
    background-color: #020617;
    padding: 15px;
  }

  nav a {
    margin: 0 15px;
    color: #22c55e;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }

  nav a:hover {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
body {
      background-color: #0f172a;
      color: white;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    nav {
      background-color: #020617;
      padding: 15px;
    }

    nav a {
      margin: 0 15px;
      color: #22c55e;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
    }

    nav a:hover {
      text-decoration: underline;
    }

    .container {
      max-width: 400px;
      margin: 40px auto;
      background-color: #020617;
      padding: 20px;
      border-radius: 10px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      font-size: 14px;
    }

    textarea {
      resize: none;
      height: 100px;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #22c55e;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      background-color: #16a34a;
    }
        body {
      background-color: #0f172a;
      color: white;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    nav {
      background-color: #020617;
      padding: 15px;
    }

    nav a {
      margin: 0 15px;
      color: #22c55e;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
    }

    nav a:hover {
      text-decoration: underline;
    }

    .cards {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    .card {
      background-color: #020617;
      width: 200px;
      border-radius: 10px;
      padding: 15px;
    }

    .card img {
      width: 100%;
      border-radius: 8px;
    }

    .card h3 {
      margin: 10px 0 5px;
    }

    .card p {
      font-size: 14px;
      color: #cbd5f5;
    }
    @media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}